body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #020617;
  color: white;
  scroll-behavior: smooth;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 3rem;
  background: linear-gradient(to right, #38bdf8, #a78bfa);
  -webkit-background-clip: text;
  color: transparent;
}

.tagline {
  opacity: 0.8;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

/* SKILLS */
.skills ul {
  list-style: none;
  padding: 0;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.05);
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #38bdf8;
}

/* LINKS */
a {
  color: #38bdf8;
  text-decoration: none;
}

/* ANIMATION */
.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}